---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Ty"
	description="Trolling"
	author="Ty"
	avatar="https://www.libravatar.org/avatar/52df0f403a1501bb59720d62f1ea5438fad546c4f2ea320ef55ff07c4f234cf4"
>
	<style>
		td {
			padding: 1vw;
		}
	</style>
	<div class="content">
		<h1 class="text-gradient">About me</h1>
		<p>
			I love programming and technology in general. I also love modding, if it is possible to mod something I use, I will. Discord, Youtube, Android, Minecraft, Celeste, practically anything :) <br><br>
			I love FOSS, and try to use it as much as I can. I daily drive Arch Linux, I use Mozilla Firefox & Thunderbird, and while Android isn't fully FOSS, it's at least better in that aspect than iOS is :) <br><br>
			While I love programming, I don't have the creative capactity, executive function, or just general motivation to actually finish any projects. Due to this, I much prefer contributing to existing FOSS projects, such as <a href="https://aliucord.com/">Aliucord</a>, <a href="https://vencord.dev/">Vencord</a>, <a href="https://github.com/Polyfrost">Polyfrost</a>, and <a href="https://keyoxide.org/">Keyoxide</a><br><br>
			I also selfhost a ton of assorted projects, such as Atuin, Nextcloud, Forgejo, SearXNG, VaultWarden, Headscale, and more! Most are invite-only, but feel free to ask me for access (more information on the <a href="/myriation">Myriation</a> page) :) 
		</p>
		<h1 class="text-gradient">Contact</h1>
		<p>
			Please check my <a href="https://keyoxide.org/hkp/a6299c20250223dcdeba5e2c933b9437a97a56b8">Keyoxide</a> profile for the most up-to-date profile information. If you want to message me, please use matrix, as I don't regularly check most of the other profiles. I will respond to emails (with PGP if possible, of course) and fedi DMs, but I am unlikley to respond to Telegram, IRC, or XMPP messages.
		</p>
		<h1 class="text-gradient">Projects*</h1>
		<h6>*None are finished, and no guarantees they ever will be, I just wanted to add this section for the sake of listing projects</h6>
		<table>
			<tr>
				<th>Name</th>
				<th>Description</th>
			</tr>
			<tr>
				<td><a href="https://codeberg.org/tyy/aspm">ASPM</a></td>
				<td>The <b>A</b>riadne <b>S</b>ignature <b>P</b>rofile <b>M</b>anager, a rust project implementing the <a href="https://ariadne.id/related/ariadne-signature-profile-0/">Ariadne Signature Profile specification</a></td>
			</tr>
			<tr>
				<td><a href="https://codeberg.org/tyy/xapu-rs">XAPU-rs</a></td>
				<td>The <b>X</b>MPP <b>A</b>riadne <b>P</b>roof <b>U</b>tility (rust edition), a command line program to help with storing and fetching ariadne proofs on an XMPP account</td>
			</tr>
		</table>
	</div>
</Layout>
