---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Ty"
	description="Trolling"
	author="Ty"
	avatar="https://www.libravatar.org/avatar/52df0f403a1501bb59720d62f1ea5438fad546c4f2ea320ef55ff07c4f234cf4"
>
	<div class="content">
		<h1 class="text-gradient">Hello there!</h1>
		<p>
			I am just some nerd making (and never finishing) random things with
			computers. If you want to contact me, feel free to
			message/invite/mention/whatever me on any of my accounts listed on my
			keyoxide profile (I have just about everything).
		</p>
		<p>
			For information on myriation and the services I run (and how to get access),
			please visit the <a href="/myriation">Myriation</a> page.
		</p>
	</div>
</Layout>
