---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Ty"
	description="Trolling"
	author="Ty"
	avatar="https://www.libravatar.org/avatar/52df0f403a1501bb59720d62f1ea5438fad546c4f2ea320ef55ff07c4f234cf4"
>
	<style lang="scss">
		@keyframes spin {
			0% {
				transform: rotate(0deg);
				width: 250px;
				height: 250px;
			}
			25% {
				width: 200px;
				height: 200px;
			}
			50% {
				width: 250px;
				height: 250px;
			}
			75% {
				width: 200px;
				height: 200px;
			}
			100% {
				transform: rotate(360deg);
				width: 250px;
				height: 250px;
			}
		}

		img.shiggy {
			animation: spin 3s linear infinite;
			user-select: none;
			position: absolute;
			top: 50%;
			left: 50%;
			
			margin: 125px 0 0 -125px;
		}
	</style>

	<div class="content">
		<img
			class="shiggy"
			id="shiggy"
			src="/img/shiggy.png"
			alt="An animated, pixelated image of Kemomimi-chan"
			width="250"
			height="250"
			draggable="false"
		/>
	</div>
</Layout>
