<footer>
	<p>
		<span>
			<a href="https://astro.build">Made with Astro</a>
			<button id="rocketship">&#128640;</button>
		</span>
		<span>
			<a href="https://codeberg.org/tyy/website"> Git repo</a>
		</span>
		<span> Hi &colon;3</span>
	</p>
</footer>

<style lang="scss">
	footer {
		margin-top: auto;
		margin-bottom: 1em;
		width: 100%;
		text-align: center;
		font-size: var(--font-size-footer);

		span + span {
			&::before {
				content: "\00B7";
				display: inline-block;
			}
		}

		button#rocketship {
			background: none;
			border: none;
			padding: 0;
			font: inherit;
			cursor: pointer;

			@keyframes launch {
				0% {
					transform: translate(0%, 0%);
				}

				99% {
					transform: translate(5000%, -5000%);
				}

				// 99% {
				// 	opacity: 0;
				// 	transform: translate(5000%, -5000%);
				// }

				100% {
					opacity: 0;
					transform: translate(-100%, -100%); // A quick hack to make the page not expand to the right
					display: none;
				}
			}

			&:focus {
				position: absolute;
				animation: launch 3s ease-in-out forwards;
			}
		}
	}
</style>
