---
const { title, avatar } = Astro.props;
---

<nav>
	<span id="left-header">
		<img src={avatar} alt="Profile avatar" id="navbar-avatar" />
		<a href="/" id="title">
			{title}
		</a>
	</span>
	<span id="navbtns">
		<span class="navbtn">
			<a href="/">Home</a>
		</span>
		<span class="navbtn">
			<a href="/about">About me</a>
		</span>
		<span class="navbtn">
			<a href="/myriation">Myriation</a>
		</span>
		<span class="navbtn">
			<a href="/shiggy">Shiggy</a>
		</span>
		<span class="navbtn">
			<a href="/keyoxide">Keyoxide</a>
		</span>
	</span>
</nav>

<style lang="scss">
	nav {
		padding: 0.5%;
		font-size: var(--font-size-header);

		> span#left-header {
			float: left;
			> img {
				vertical-align: middle;
				width: var(--font-size-header);
				height: var(--font-size-header);
			}
		}

		> span#navbtns {
			float: right;

			span + span {
				&::before {
					content: "\00B7";
					display: inline-block;
				}
			}
		}
	}
</style>
